@{
    ViewData["Title"] = "Home Page";
}

<!-- Modal -->
<div class="modal fade" id="ModalServicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="exampleModalLabel">Agregar Servicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="ServicioID" value="0"  />
        <div>
            <label class="control-label text-warning">Servicio</label>
            <input type="text" class="form-control" id="Descripcion" autocomplete="off" onkeyup="this.value = this.value.toUpperCase()" />
            <label class="control-label text-warning">Direccion</label>
            <input type="text" class="form-control" id="Direccion" autocomplete="off" onkeyup="this.value = this.value.toUpperCase()" />
            <label class="control-label text-warning">Telefono</label>
            <input type="tel" class="form-control" id="Telefono" autocomplete="off"/>
        </div>
@* categoria desplegablke *@
 <div>
  <label class="control-label text-warning">
SubCategoria:
  </label>
  @Html.DropDownList("SubCategoriaID", null, htmlAttributes: new { @class = "form-control" })
 </div>
 
      </div>
      <div class="modal-footer bg-dark">
        <button type="submit" class="btn btn-outline-warning" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" onclick="GuardarServicio()" class="btn btn-outline-warning">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<div>
    <h1 class="display-4 text-warning texto-servicio">Servicios</h1>

      <!-- Button trigger modal -->
      <div class="mb-2">
        <button type="submit" onclick="(VaciarFormulario)" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#ModalServicio">
            Nuevo
        </button>
      </div>

<table class="table bg-dark table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th class="text-warning">Descripcion</th>
            <th class="text-warning">Direccion</th>
            <th class="text-warning">Telefono</th>
            <th class="text-warning">SubCategoria</th>
             <th class="text-warning">Categoria</th>
            <th class="text-warning text-center">Acciones</th>
        </tr>
    </thead>
        <tbody id="tbody-servicios">        
        </tbody>
  </table>
</div>

@section Scripts{
    <script src="~/js/Scriptservicio.js"></script>
}