@{
    ViewData["Title"] = "Home Page";
}


<!-- Modal -->
<div class="modal fade" id="ModalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="exampleModalLabel">Agregar Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="CategoriaID" value="0"  />
        <div>
            <label class="control-label">Categoria</label>
            <input type="text" class="form-control" id="Descripcion" autocomplete="off" onkeyup="this.value = this.value.toUpperCase()" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-warning" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" onclick="GuardarCategoria()" class="btn btn-outline-warning">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div>
    <h1 class="display-4 text-warning">Categorias</h1>

      <!-- Button trigger modal -->
      <div class="mb-2">
        <button class="btn btn-outline-warning" type="submit" onclick="VaciarFormulario()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCategoria">
            Nuevo
        </button>
      </div>

 
  <table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th class="text-warning">Descripcion</th>
            <th></th>
        </tr>
    </thead>
        <tbody id="tbody-categorias">        
        </tbody>
  </table>
</div>

@section Scripts{
    <script src="~/js/Scriptcategoria.js"></script>
}