@{
    ViewData["Title"] = "Home Page";
}

@* DISEÑO DEGRADE DE FONDO *@
<style>
    @* body{
        background: #ffe259;
        background: linear-gradient(to right, #ffa751, #ffe259);
    } *@
        .bg{
        background-image: url('https://browsecat.art/sites/default/files/yellow-black-wallpapers-48447-682434-2200006.png');
        background-position: center center;
    }
</style>



 <div class="text-center">
    <h1 class=" titulo-index display-4 text-warning">C E L I O</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

</div> 

@* <div class="container w-75 bg-dark mt-5 rounded shadow"> 

    <div class="row align-items-stretch">
         <div class="col bg d-none rounded"> 

        </div>
        <div class="col p-5 rounded-end">
            <div class="text-end">
                 <img src="~/Imagenes/logo.png" width="48" alt=""> 
                <i class="bi bi-power"></i>
                
            </div>
        </div>
    </div>
</div> *@