@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


@* DISEÑO DEGRADE DE FONDO *@
<style>
    body{
        background: #ffe259;
        background: linear-gradient(to right, #ffa751, #ffe259);
    }
        .bg{
        background-image: url('https://browsecat.art/sites/default/files/yellow-black-wallpapers-48447-682434-2200006.png');
        background-position: center center;
    }
</style>


<div class="container w-75 bg-dark mt-5 rounded shadow"> 

    <div class="row align-items-stretch">
         <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"> 

        </div>
        <div class="col p-5 rounded-end">
            <div class="text-end">
                @* <img src="~/Imagenes/logo.png" width="48" alt=""> *@
                <i class="bi bi-power"></i>
                <h2 class="fw-bold text-center py-5 text-white">Recuperar Contraseña</h2>

@* LOGIN *@
                <form id="account" method="post">
                    <div class="mb-4 text-start text-white">
                    <label asp-for="Input.Email" class="form-label">Correo Electrónico</label>
                    <input asp-for="Input.Email" class="form-control bg-dark" autocomplete="username" aria-required="true"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="d-grid">
                         <button type="submit" class="w-100 btn btn-lg btn-warning">Actualizar Contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@* <h1>@ViewData["Title"]</h1>
<h2>Ingresá tu e-mail</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Actualizar Contraseña</button>
        </form>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
