html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

 body {
  margin-bottom: 60px;
  background-color: rgb(57, 58, 58);
} 
/* DISEÑO HOME INDEX*/

/* .titulo-index {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 1px;
  color: white;
} */

/* DISEÑO REGISTER*/

.datos-register{
  
}