html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

 body {
  margin-bottom: 60px;
  background-color: rgb(57, 58, 58);
}

.box{
      position: absolute;
      width: 100%;
      overflow: hidden;
      height: 100%;
      bottom: -1px;
      background: linear-gradient(to bottom, #ee0979, #ffa600);
      z-index: 5;
}

/* DISEÑO TITULOS INDEX*/

.texto-servicio{
  
}
.texto-categoria{
  
}
.texto-sub-categoria{
  
}


